page {
	//背景
	--color-primary1: #7f86ff;
	--color-primary2: #49b583;
	--color-primary3: #ffbd69;
	--color-primary4: #699eff;
	//阴影
	--color-shadow1: #7f86ff30;
	--color-shadow2: #49b58330;
	--color-shadow3: #ffbd6930;
	--color-shadow4: #699eff30;
}
